* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: brown;
    box-sizing: border-box;
    overflow: hidden;
    animation: bgchange linear 4s alternate-reverse infinite;
}

#clockContainer {
    border: 2px solid black;
    position: relative;
    background: url(clock.jpg) no-repeat;
    height: 40rem;
    width: 40rem;
    background-size: 100%;
    border-radius: 50%;
    margin: auto;
    opacity: 1;
}

#hour, #minute, #second {
    position: absolute;
    background: black;
    border-radius: 1rem;
    transform-origin: bottom;
}

#hour {
    width: 0.9%;
    height: 23%;
    top: 27.46%;
    left: 49.98%;
    opacity: 0.8;
}

#minute {
    width: 0.6%;
    height: 31%;
    top: 19.35%;
    left: 50.1%;
    opacity: 0.8;
}

#second {
    width: 0.2%;
    height: 39%;
    top: 11.2%;
    left: 50.247%;
    opacity: 0.8;
}

/* Main clock ends */

p.mainslogan {
    font-size: 3.6rem;
    text-align: center;
    position: relative;
    margin: auto;
}

.b:hover {
    color: hotpink;
    font-size: 5rem;
    cursor: default;
}

.e:hover {
    color: rgb(66, 164, 255);
    font-size: 5rem;
    cursor: default;
}

.t:hover {
    color: rgb(173, 255, 105);
    font-size: 5rem;
    cursor: default;
}

.e2:hover {
    color: rgb(253, 255, 105);
    font-size: 5rem;
    cursor: default;
}

.r:hover {
    color: rgb(2, 0, 143);
    font-size: 5rem;
    cursor: default;
}

.m:hover {
    color: rgb(241, 160, 160);
    font-size: 5rem;
    cursor: default;
}

.e3:hover {
    color: rgb(248, 23, 23);
    font-size: 5rem;
    cursor: default;
}

.n:hover {
    color: rgb(235, 138, 11);
    font-size: 5rem;
    cursor: default;
}

.t2:hover {
    color: rgb(211, 35, 218);
    font-size: 5rem;
    cursor: default;
}

/* Text ends */

/* BG images starts */

img {
    position: absolute;
    height: 10rem;
    width: 10rem;
    background-size: 100%;
    border-radius: 50%;
    display: inline-block;
    animation: textloop linear 10s infinite;
    opacity: 0.4;
}

.one {
    top: 1rem;
}

.two {
    top: 18rem;
    right: 2rem;
    animation: textloopright linear 2s infinite;
}

.three {
    top: 35rem;
    left: 8rem;
    animation: textloop linear 8s infinite;
}

.four {
    top: 52rem;
    left: 24rem;
}

.five {
    top: 69rem;
    right: 5rem;
    animation: textloopright linear 5s infinite;
}

.special {
    height: 25rem;
    width: 25rem;
}

.six {
    right: 10rem;
    animation: textloopright linear 4s infinite;
}

.seven {
    left: 100rem;
    top: 18rem;
}

.eight {
    left: 1rem;
    top: 31rem;
}

.nine {
    right: 10rem;
    top: 49rem;
    animation: textloopright linear 3s infinite;
}

@keyframes textloop {
    0% {
        transform: translateX(200vh)
    }
    100% {
        transform: translateX(-140vh);
    }
}

@keyframes textloopright {
    0% {
        transform: translateX(150vh);
    }
    100% {
        transform: translateX(-200vh);
    }
}

@media(max-width: 998px) {
    html {
        font-size: 55%;
        text-align: center;
    }
}

@media(max-width: 768px) {
    html {
        font-size: 45%;
        text-align: center;
    }
}

@keyframes bgchange {
    from {background-color: #3edbf0;}
    to {background-color: #c0fefc;}
}

@keyframes clock1 {
    from {background-color: #f05945;}
    to {background-color: #ca847a;}
}


