body {
    background-color: brown;
    box-sizing: border-box;
}

#clockContainer {
    position: relative;
    margin: auto;
    /* height: 40vh;
    width: 40vh; */
    height: 400px;
    width: 400px;
    background: url(clock.jpg) no-repeat;
    background-size: 100%;
    border-radius: 50%;
}

#hour, #minute, #second {
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour {
    width: 0.9%;
    height: 23%;
    top: 27.46%;
    left: 49.98%;
    opacity: 0.8;
}

#minute {
    width: 0.6%;
    height: 31%;
    top: 19.35%;
    left: 50.1%;
    opacity: 0.8;
}

#second {
    width: 0.2%;
    height: 39%;
    top: 11.2%;
    left: 50.247%;
    opacity: 0.8;
}

p {
    font-size: 65px;
    text-align: center;
    animation: textloop linear 6s infinite;
}

@keyframes textloop {
    0% {
        transform: translateX(150vh)
    }
    25% {
        transform: translateX(90vh);
    }
    50% {
        transform: translateX(30vh);
    }
    100% {
        transform: translateX(-130vh);
    }
}