body {
    background-color: brown;
    box-sizing: border-box;
    overflow: hidden;
    animation: example linear 4s alternate-reverse infinite;
}

/* Main clock starts */

#clockContainer {
    position: absolute;
    top: 20px;
    height: 400px;
    width: 400px;
    background: url(clock.jpg) no-repeat;
    background-size: 100%;
    border-radius: 50%;
    display: inline-block;
    left: 65vh;
    z-index: 10;
}

#hour, #minute, #second {
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour {
    width: 0.9%;
    height: 23%;
    top: 27.46%;
    left: 49.98%;
    opacity: 0.8;
}

#minute {
    width: 0.6%;
    height: 31%;
    top: 19.35%;
    left: 50.1%;
    opacity: 0.8;
}

#second {
    width: 0.2%;
    height: 39%;
    top: 11.2%;
    left: 50.247%;
    opacity: 0.8;
}

/* Main clock ends */

p.mainslogan {
    font-size: 65px;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
    display: inline-block;
    left: 58vh;
    top: 60vh;
}

/* Floating clock images starts */

img {
    position: absolute;
    height: 100px;
    width: 100px;
    background-size: 100%;
    border-radius: 50%;
    display: inline-block;
    animation: textloop linear 10s infinite;
    opacity: 0.4;
}

.one {
    top: 10px;
}

.two {
    top: 180px;
    right: 20px;
    animation: textloopright linear 2s infinite;
}

.three {
    top: 350px;
    left: 80px;
    animation: textloop linear 8s infinite;
}

.four {
    top: 520px;
    left: 240px;
}

.five {
    top: 690px;
    right: 50px;
    animation: textloopright linear 5s infinite;
}

.special {
    height: 250px;
    width: 250px;
}

.six {
    right: 100px;
    animation: textloopright linear 5s infinite;
}

.seven {
    left: 350px;
    top: 180px;
    /* animation: textloopright linear 5s infinite; */
}

.eight {
    left: 10px;
    top: 310px;
    /* animation: textloopright linear 5s infinite; */
}

.nine {
    right: 100px;
    top: 490px;
    animation: textloopright linear 3s infinite;
}

@keyframes textloop {
    0% {
        transform: translateX(200vh)
    }
    100% {
        transform: translateX(-140vh);
    }
}

@keyframes textloopright {
    0% {
        transform: translateX(150vh);
    }
    100% {
        transform: translateX(-200vh);
    }
}

/* Floating clock images ends */

/* For background color changing effect */

@keyframes example {
    from {background-color: rgb(16, 16, 145);}
    to {background-color: green;}
  }

/* For background color changing effect */
